<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ADD DATA</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/style.css">
   
</head>
<body>
    <section>
            <header>
                <h2 style="margin: 0;">New Subject Category</h2>
            </header>
           
            <%- include('sidebar') %>
                <div class="main_content">
                
               
    <form class="" action="/add-subject" method="POST">
        <div class="form-group">
            <label for="sub_name">Subject Name</label>
            <input type="text" class="form-control" name="sub_name" id="sub_name" required>
          </div>  
    
     
 <button type="submit" class="btn-success">Submit</button>
 
    </form>
</div>
</section>
</body>
</html>