<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
   <section>
            <form action="/logout" method="POST">
            
                <button class="btn btn-success"style="float: right" type="submit" >Logout</button>
            
            </form>

    <header>   
          <a href="/"> <img style="float: left" src="/logo/logo.png" alt="logo" height="40px" width="40px" ></a>
           <h2 style="margin: 0;">Dashboard</h2>
       </header>
   
       <%- include('sidebar') %>
    <div class="main_content">
     <div>  
      
        <form class="" action="/add-teacher" method="POST" enctype="multipart/form-data">
            <div class="form-group">
               
            <div>
                <label for="teacher_name">Name</label>
                <input type="text" class="form-control" id="teacher_name" name="teacher_name"
                placeholder="Teacher's Full Name " required>
                

            </div> 
       
        <div>
                <label for="teacher_dob">Date of birth</label>

            <input type="date" class="form-control" id="teacher_dob" name="teacher_dob"
                placeholder="Teacher Dob" required   
        </div>

        <div>
                <label for="teacher_address">Address</label>

            <input type="text" class="form-control" id="teacher_address" name="teacher_address"
                placeholder="Teacher's Address" required>   
        </div>

        <div>
                <label for="teacher_phone">Phone</label>

            <input type="number" class="form-control" id="teacher_phone" name="teacher_phone"
                placeholder="phone" required>   
        </div>

        <div>
            <label for="teacher_email">Email</label>

        <input type="text" class="form-control" id="teacher_email" name="teacher_email"
            placeholder="Email" required>   
    </div>

    <div>
        <label for="teacher_pass">New Password</label>

    <input type="text" class="form-control" id="teacher_pass" name="teacher_pass"
        placeholder="New Password" required>   
     </div>

     <div class="file col">
        <input type="file" name="myimage" accept="image/*" oninvalid="alert('You must fill out the form!');"
            required>
      </div>


        <button type="submit" class="btn-success" >Submit</button>

        
        </form>

     
    </div>
    </div>
   
    </section>     
   



</body>
</html>