<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
   <section>
            <form action="/logout" method="POST">
            
                <button class="btn btn-success"style="float: right" type="submit" >Logout</button>
            
            </form>

    <header>   
          <a href="/"> <img style="float: left" src="/logo/logo.png" alt="logo" height="40px" width="40px" ></a>
           <h2 style="margin: 0;">Dashboard</h2>
       </header>
   
      <%- include('sidebar') %>
    <div class="main_content">
     <div>  
      <div class="box">
           <div class="div_content">
            <h3 align="center"> Total Students</h3>
             <h4 align="center"><%= result.totalStudent %></h4>
        </div>

      </div>
     
    </div>
    </div>
   
    </section>     
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
    </script>
</body>
</html>