<nav class="vertical-menu">
    <a href="/">Home</a>
    <a href="/add-class">Add Class</a>
    <a href="/add-section">Add Section</a>
    <a href="/add-student">Add Student</a>
    <a href="/student-list">All Students</a>
    <a href="/add-teacher">Add Teacher</a>
    <a href="/add-subject">Add subject</a>
    <a href="/add-driver">Add Driver</a>
    

</nav>